@charset "UTF-8";


.inputText{
	width: 70%;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: none;
}

.inputSelect{
	width: 30%;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: none;
}

.mainContent {
	padding-top: 3vw;
	/*background-color: orange;*/
}


.navbar{
	background-color: #84a4bc;
	display: flex;
	flex-direction: row;
	position:fixed;
	width:100%;
}

.navbarLogo{
	padding: 1em;
	height: 5em;
	justify-content:space-between;	
}

.navbarLabelDiv{
	display:flex;
	flex-direction: row;
}

.navbarLabel{
	color:#144a7f;
	padding-left:1em;
	padding-right:1em;
	padding-top:2em;
	justify-content: flex-end;
}

.navbarLabel:hover{
     color:grey;
}

a.link {
	color: #144a7f;
}

.logo {
	padding: 2em;
}

.nav {
	display: flex;
	flex-direction: column;
	height: 10vh;
	background-color: #84a4bc;
	/*background-color: pink;*/
	flex-wrap: wrap;
	margin-top: 8vh;
}

.navSignForm {
	display: flex;
	flex-direction: column;
	height: 10vh;
	background-color: #84a4bc;
	/*background-color: pink;*/
	flex-wrap: wrap;
	margin-top: 55vh;
}

.passwordActions {
	margin-left: 1vw;
	margin-right: 1vw;
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.idLabel {
	display: inline-block;
	width: 7em;
	text-align: right;
}

.idField, .passwordField {
	margin-left: 2vh;
}

.remember {
	margin-bottom: 1vw;
}



.labelSignForm {
	width: 10vw;
	margin-right:2em;
	margin-left:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}

.marginBottomTwoEm{
	margin-bottom: 2em;
}

.messageError{
	align-items: center;
	color:red;
}

.displayLine{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.welcome{
	text-align: right;
	margin-top: 12vh;
	margin-right: 10vw;
}

.title{
	margin-bottom:3vh;
	margin-right:auto;
	margin-left:auto;
	color:#144a7f;
	font-weight: bold;
}

.lookFor{
	width:100%;
}

.checkBoxes{
	margin-right:30vw;
	margin-left:30vw;
	margin-top: 3vh;
	margin-bottom:3vh;
	padding: 1em;
	height: 35vh;
	background-color: #84a4bc;
	border-radius: 4px;
}

.checkBoxesNC{
	margin-right:30vw;
	margin-left:30vw;
	margin-top: 3vh;
	margin-bottom:3vh;
	padding: 1em;
	height: 15vh;
	background-color: #84a4bc;
	border-radius: 4px;
}

.container{
	display: flex;
	flex-direction:column;
	justify-content: space-around;
}

.container2{
	display: flex;
	flex-direction:row;
	justify-content: space-around;
	margin-top:1em;
	flex-wrap:wrap;
}

.container3{
	display: flex;
	flex-direction:row;
	justify-content: center;
	margin-top:1em;
	flex-wrap:wrap;
}

.selectBoxTitle{
	color:#144a7f;
	padding-left:2em;
	padding-right:2em;
	margin-bottom:1em;
	font-weight: bold;
}

.selectBoxLabel{
	padding-left:1em;
}

.lookForLabel{
	padding : 2em;
}

.ArticlesDisplay{
	margin-top:2vh;
	margin-bottom: 2vh;
	margin-right: auto;
	margin-left:auto;
	display: flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content: space-around;
	width:80vw;
}

.divArticle{
	width:45%;
	border-width : 1px;
	border-color:  #144a7f;
	border-style: solid;
	padding:1em;
	margin-bottom: 2em;
}

.articleName{
	text-align: center;
	color:#144a7f;
	padding-left:2em;
	padding-right:2em;
	margin-bottom:1em;
	font-weight: bold;
}

.seller{
	text-decoration: underline;
}

.articleImg{
	width:7em;
}

.articleInfo{
	color:black;
	padding:2em;	
}

.divProfile{
	padding:2em;
	height: 50vh;
	width:40vw;
	margin-right:30vw;
	margin-left:30vw;
	/*background-color: #84a4bc;*/
}

.labelProfil{
	width:40%;
	text-align: right;
}

.infoProfil{
	width:40%;
	text-align: left;
}

.confirmationPopUp {
	display: none;
	background-color: #cacace;
	border: 1px solid #ccc;
	border-radius: 4px;
	width:60vh;
	height:20vh;
	padding:2em;
	text-align: center;
	position:fixed; 
  	top: 40%;
  	left: 37%;
}
