@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-size: 100%;
	/*text-align: center;*/
}

h1 {
	margin-left: 5em;
}

h2 {
	text-align: center;
}

#login {
	display: flex;
	justify-content: space-between;
	margin-top: 3em;
}

.link {
	margin-right: 5em;
}

#filtres {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-left: 5em;
	height: 20vh;
}

.search-field {
	width: 100%;
	padding: 10px 35px 10px 15px;
	border: none;
	border-radius: 100px;
	outline: none;
}

.search-button {
	background: transparent;
	border: none;
	outline: none;
	margin-left: -20px;
}

.search-button img {
	width: 1em;
	height: 1em;
	object-fit: cover;
}